body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    justify-content: space-between;
    margin: 0;
}

img{
    width: 10vw;
    height: auto;
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
}
button{
    padding: 10px;
    background-color: lightsalmon;
    border-radius: 12px;
    font-size: 25px;
    border: 0px;
}

button:active{
    background-color: green;
    color: lavender;
}

.log{
    display: flex;
    justify-content: center;
}

.scoreboard, .result{
    display: flex;
    flex-direction: column;
    width: 40vw;
    justify-content: flex-start;
    align-items: center;
}

.scoreboard h2, .result h2{
    text-align: center;
}

.score{
    font-size: 25px;
}

.results{
    font-size: 20px;
}

footer{
    align-self: flex-end;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    background-color: lavender;
    min-width: 100vw;
}

footer img{
    width: 3vw;
    height: auto;
}