body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img{
    width: 10vw;
    height: auto;
}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
}
button{
    padding: 10px;
    background-color: lightsalmon;
    border-radius: 12px;
    font-size: 25px;
    border: 0px;
}

button:active{
    background-color: green;
    color: lavender;
}

.log{
    display: flex;
    justify-content: center;
}

.scoreboard, .result{
    display: flex;
    flex-direction: column;
    width: 40vw;
    justify-content: space-between;
    align-items: center;
}

.scoreboard h2, .result h2{
    text-align: center;
}